# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
# Ignore full Milano dataset
**/Milano_full/

# Keep sample data
!**/Milano_sample/
!**/Milano_sample/**/*.tif

# Environment
.env/

# macOS
**/.DS_Store

